name: shamsi_date
description: A Flutter package for using Jalali (Shamsi, Solar or Persian) date. You can convert Jalali and Georgian dates to each other.
version: 0.3.0
homepage: https://github.com/FatulM/shamsi_date
author: Amirreza Madani <madani_amirreza@yahoo.com>

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
